<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

{% if author.googlescholar %}
  <li>
    <a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar" aria-hidden="true"></i> Scholar
    </a>
  </li>
{% endif %}

{% if author.orcid %}
  <li>
    <a href="{{ author.orcid }}"><i class="ai ai-orcid-square" aria-hidden="true"></i> Orcid
    </a>
  </li>
{% endif %}
